<div class="container-card-setup">
    <div ng-repeat="setupType in setupCards">
        <div ng-repeat="card in setupType" class="card-container">
            <div class="card card-setup">
                <h3 ng-bind="card.name" class="name"></h3>
                <span ng-bind="card.effect.name" class="effect"></span>
            </div>
        </div>
    </div>
</div>

<div class="container-card-play">
    <div ng-repeat="card in cards" class="card-container">
        <div class="card card-play">
            <div class="ribbon ribbon-color-{{card.type.color}}">
                <span class="ribbon-content type" ng-bind="card.type.name | uppercase" ></span>
            </div>
            <span class="price" ng-bind="card.price"></span>
            <span class="points" ng-bind="card.points"></span>
            <div class="resource-container">
                <span class="resource-{{card.resource.img}}" data-tooltip="{{card.resource.name}}"></span>
            </div>
            <div class="name" ng-bind="card.name"></div>
            <div class="effect" ng-bind="card.effect.name" ></div>
        </div>
    </div>
</div>