<div class="container-card-setup">
    <div ng-repeat="card in setupCards.all" class="card-container">
        <div class="card card-setup">
            <div class="ribbon ribbon-color-{{card.type.color}}">
                <span class="ribbon-content type" ng-bind="card.type.name | uppercase" ></span>
            </div>
            <div class="effect" effect="card"></div>
        </div>
    </div>
    <div ng-repeat="card in cards" class="card-container">
        <div class="card card-play">
            <div class="ribbon ribbon-color-{{card.type.color}}">
                <span class="ribbon-content type" ng-bind="card.type.name | uppercase" ></span>
            </div>
            <div class="values">
                <span class="points resource-meeple" score="{{card.meeple}}" ng-bind="card.meeple"></span>
                <span class="price resource-score" score="{{card.score}}" ng-bind="card.score"></span>
            </div>
            <div class="resource-container">
                <span class="resource-{{card.resource.img}}" data-tooltip="{{card.resource.name}}"></span>
            </div>
            <div class="name" ng-bind="card.name"></div>
            <div class="effect" effect="card"></div>
        </div>
    </div>
    <div ng-repeat="card in resources" class="card-container">
        <div class="token">
            <span class="resource-{{card.img}}" data-tooltip="{{card.name}}"></span>
        </div>   
    </div>   
</div>